<!-- <app-auth></app-auth> -->
<div class="container">
    <!-- <app-auth></app-auth> -->
    <div class="card mt-5">
        <h4>Conveying meaning to assistive technologies</h4>
        <p>Using color to add meaning only provides a visual indication, which will not be conveyed to users of
            assistive
            technologies – such as screen readers. Ensure that information denoted by the color is either obvious from
            the
            content itself (e.g. the visible text), or is included through alternative means, such as additional text
            hidden
            with the .sr-only class.</p>
        <div class="col-sm-2">
            <button class="btn btn-primary" type="submit" (click)="navigate()">Thoát</button>
        </div>
    </div>
</div>